.nav-list {
    margin-top:20px;
    cursor:pointer;
    letter-spacing:2px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding:10px;
    font-family: "Bangers", cursive;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
  }
.nav-line{
    width: 20px;
}